<% if flash[:awe_some] %>
  <div class="alert alert-success">
    <p class="font-weight-bold"><%= flash[:awe_some] %></p>
    <p class="font-weight-bold">3日間チャレンジ終了しました！</p>
    <p class="font-weight-bold">チャレンジはうまくいきましたか？<p><br>
    <%= link_to "成功した", user_amount_change_success_path(current_user) %>
    <%= link_to "失敗した", user_amount_change_failed_path(current_user) %><br>
    
    <!-- <p>※メッセージはチャレンジ終了から24時間後に自動的に消滅します。</p> -->
  </div>
<% end %>
