<%= stylesheet_link_tag "movements", :media => "all" %>

<body class="container">
  <h2 class="mt-5">3日間の間、エコ活動にご協力いただきありがとうございました。</h2>
  <h3 class="my-5">今回は残念でしたが、次回は最後までやり切れるように頑張っていきましょう！</h3>
  <%= link_to "マイページへ戻る", movements_destroy_path %>
</body>
