<%= stylesheet_link_tag "home", :media => "all" %>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main class="inner">
      <h1 class="cover-heading">Green Activity</h1>
      <h3 class="lead">このアプリケーションは、実際にユーザーの皆様が日々の生活の中で行っていると思われるエコ活動(エコバッグの利用など)のCO2削減量の見える化を行い、環境への貢献度をより分かりやすくさせるためのアプリです。このアプリを通じて、地球に優しい行動への一歩を踏み出すきっかけになり、そしてエコ活動が生活の一部になる事ができれば幸いです。</h3>
    </main>

    <footer class="footer-logo">
      <%= link_to "ログイン",new_user_session_path, class: 'btn btn-success' %>&emsp;
      <%= link_to "新規登録",new_user_registration_path, class: 'btn btn-success' %>
    </footer>

  </div>
</body>
