<%= stylesheet_link_tag "home", :media => "all" %>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

<main role="main" class="inner">
  <h1 class="cover-heading">Green Activity</h1>
  <h3 class="lead">このアプリケーションは、実際にユーザーの皆様が日々の生活の中で行っていると思われるエコ活動(エコバッグの利用など)のCO2削減量の見える化を行い、環境への貢献度をより分かりやすくさせるためのアプリです。このアプリを通じて、地球に優しい行動への一歩を踏み出すきっかけになり、そしてエコ活動が生活の一部になる事ができれば幸いです。</p>

  <%# <% else %>
    <!-- ユーザーがログインしていなかった時の処理 -->
<footer class="footer-logo">
    <h2 class="info"> 現在ログインしていません </h2>
    <%= link_to "ログイン",new_user_session_path, class: 'btn btn-success' %> <!-- ログイン画面に移行する -->

    <%= link_to "新規登録",new_user_registration_path, class: 'btn btn-success' %> <!-- 新規登録画面に移行する -->
</footer>
  <%# <% end %>

  <!-- <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
  </p> -->
  <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tree-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
  <path d="M7 13h2v3H7v-3z"/> -->
<!-- </svg> -->
</main>

<!-- <footer class="mastfoot mt-auto">
  <div class="inner">
    <!-- <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
  <!-- </div>
</footer> -->
</div>
</body>
