<%= stylesheet_link_tag "bags", :media => "all" %>

<body class="container">
  <h2 class="mt-5">いつも地球に優しい行動をしていただき、ありがとうございます。</h2>
  <h3 class="my-5"><%= current_user.name %>さんはCO2を約<%= @bag.counter %>グラム削減しました！</h3>
  <h3 class="mb-5">この調子でどんどんCO2を減らしていきましょう！</h3>
  <%= link_to "マイページへ戻る", user_path(current_user.id) %>
</body>
