// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container{
  text-align: center;
  margin-top: 150px;
}
.inner{
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 20px;
}
.col-md-12{
  margin-bottom: 50px;
}
.menu-icon{
  color: green;
  font-weight: bold;
  margin: 60px;
}
.navbar-brand{
  font-size: 20px;
}
.nav-item {
  padding-top: 10px;
}
